<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link href="/stylesheets/cart-css.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/header') %>
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-10 col-md-offset-1">

          <div class="menu-title first">

            <h2>Cart Detail </h2>

          </div>

          <div class="cart-table">

            <table>

              <tr>

                <th width="5%">Remove</th>

                <th width="40%">Product</th>

                <th width="25%">Unit Price</th>

                <th width="5%">Quantity</th>

                <th width="25%">Subtotal Price</th>

              </tr>

              <% if (session.cart) {%>
                <% Object.keys(session.cart.items).forEach(function(key) { %>

                <tr class="grey">

                  <td class="text-center"><a title="Remove item from cart" href="/product/remove/<%= session.cart.items[key].item._id %>"><img src="/images/delete.gif" alt="delete"></a></td>

                  <td align="center">
                    <img class="cart-item-img" src="<%= session.cart.items[key].item.img %>" alt="delete">
                    <span class="cart-item-name"><%= session.cart.items[key].item.title %></span>

                  </td>

                  <td class="size-cart-price text-center"><%= session.cart.items[key].item.price %></td>

                  <td><input class="cart-input-qty" data-itemid="<%= session.cart.items[key].item._id %>" type="number" name="qty" id="qty" min="1" value="<%=  session.cart.items[key].qty %>"></td>

                  <td class="size-cart-price text-right"><%= session.cart.items[key].item.price *  session.cart.items[key].qty %></td>

                </tr>
              <% }) %>

              <% } %>

            </table>

            <div class="cart-subtotal-price">

              <a class="cart-view pull-left continue-shopping" href="/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Continue shopping</a>
              <a class="btn btn-success" href="/cart/checkout">Checkout</a>

              <span id="total-price" class="pull-right"> <%= session.cart ? session.cart.totalPrice > 0 ? 'Total price: $' + session.cart.totalPrice.toFixed(2) : 'No items in your cart yet' : 'No items in your cart yet' %></span>

              <div class="clear"></div>

            </div>

          </div>
        </div>


      </div>
    </div>
    <%- include('../partials/scripts') %>
    <script>  var csrfToken = '<%= csrfToken %>';</script>
    <script src="/javascripts/update-item.js"></script>

</body>

</html>
