<!doctype html>
<html lang="en">
    <head>
          <%- include('../partials/head') %>
          <link rel="stylesheet" href="/stylesheets/animate.css">
    </head>
    <body>
      <%- include('../partials/header') %>
      <%- include('../partials/messages/payment') %>
      <div class="container">
        <%- include('../partials/main') %>
      </div>
      <%- include('../partials/scripts') %>
      <script>const csrfToken = '<%= csrfToken %>';</script>
      <script src="/javascripts/main.js"></script>
      <script src="/javascripts/add-item.js"></script>
    </body>
</html>
